$fonts_path: '/fonts/';

$sf_mono: 'SFMono', 'monospace';
$font_body: 'Montserrat', system-ui, -apple-system, sans-serif;
$font_display: 'HeliosStencil', 'Montserrat', system-ui, -apple-system, sans-serif;