*,
*::before,
*::after {
    --main-white: #fff;
    --main-black: #000;

    --fill-secondary: rgb(0, 11, 33, 0.08);
    --fill-tertiary: rgb(0, 11, 33, 0.05);

    --label-primary: rgb(0, 0, 0);
    --label-secondary: rgb(22, 26, 33, 0.8);
    --label-tertiary: rgb(22, 26, 33, 0.5);

    --accent-primary: rgb(0, 0, 0);
    --accent-secondary: rgb(0, 0, 0, 0.8);

    --background-primary: rgb(245, 244, 240);
    --background-secondary: rgb(0, 0, 0);

    --separator-primary: rgb(0, 11, 33, 0.15);
    --separator-secondary: rgb(0, 11, 33, 0.1);

    --error-background: rgb(222, 0, 54, 0.05);
    --error-border: rgb(222, 0, 54, 0.3);
    --menu-background: rgb(22, 26, 33, 0.7);

    --primary-svg-filter: brightness(0) saturate(100%);
}
[data-theme="primary"] *,
[data-theme="primary"] *::before,
[data-theme="primary"] *::after {
    --fill-secondary: rgb(245, 243, 240, 0.08);
    --fill-tertiary: rgb(245, 243, 240, 0.05);

    --label-primary: rgb(245, 243, 240, 0.9);
    --label-secondary: rgb(245, 243, 240, 0.6);
    --label-tertiary: rgb(245, 243, 240, 0.3);

    --accent-primary: rgb(245, 243, 240, 0.9);
    --accent-secondary: rgb(245, 243, 240, 0.8);

    --background-primary: rgb(36, 35, 34);
    --background-secondary: rgb(245, 243, 240);

    --separator-primary: rgb(245, 243, 240, 0.13);
    --separator-secondary: rgb(245, 243, 240, 0.08);

    --primary-svg-filter: brightness(0) saturate(100%) invert(1);
}